@charset "UTF-8";

/* font */
html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  padding: 0 20px;
}

/* color and border */
html {
  background-color: #FFFFFF;
}

body {
  width: auto;
  margin: 0 auto;
  background-color: #640404;
  padding: 75px 0;
}

header {
  background-color: #663333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  font-size: 14px;
}

nav {
  margin-left: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 25px;
}

nav ul li a {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

h1 {
  padding: 20px 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
}

h2 {
  margin: 0;
  padding: 18px 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
}

p, li {
  color: #FFFFFF;
}

img {
  display: inline-block;
  margin: 0 auto;
}

footer {
  margin: 0;
  background-color: #FFFFFF;
  }

footer p {
  color: #640404;
  font-size: 14px;
  padding: 10px 10px;
}
